
.radio-inline
{
    margin-left: 30px;
}



#btnAddPlayer 
{
    float:right;
}

#gmailTab .tab-content {
  color: #1c1c1c;
  background-color: #ccc;
  padding: 5px 15px;
}
#gmailTab .nav-pills > li > a {
  border-radius: 0;
  background-color: #eee;
  background-color: #ccc;
}
#gmailTab .nav-pills > li.active > a,
#gmailTab .nav-pills > li.active > a:focus,
#gmailTab .nav-pills > li.active > a:hover {
  border-top: 3px solid #f00;
}
@media (max-width: 767px) {
  .nav-pills > li {
    float: none;
  }
}

.navbar {
    margin-bottom: 0;
}
a.navbar-brand.mr-1 {
    margin: 0;
    font-size: 3rem;
    padding: 0;
}
body {
    font-size: 1.5rem;
}

.btn {
    margin-right: 1rem;
    font-size: 1.5rem;
}

